In [23]:
import pandas
import json

In [28]:
filename = 'data.csv'

df = pandas.read_csv(filename, index_col=['idx'], skipinitialspace = True)

In [29]:
df

,AppointmentId,description,startDate,endDate,AllDay,Text,roomId,recurrenceRule
idx,,,,,,,,
1,1,desc1,2020-05-08T15:00:00.000Z,2020-05-08T15:30:00.000Z,False,kj,1,NaN
2,2,desc2,2020-05-08T16:00:00.000Z,2020-05-08T16:30:00.000Z,False,sqdfqsdkj,2,FREQ=DAILY;COUNT=100

In [30]:
s = df.to_json(orient='records')

j = json.loads(s)

In [31]:
j

[{'AppointmentId': 1,
  'description': 'desc1',
  'startDate': '2020-05-08T15:00:00.000Z',
  'endDate': '2020-05-08T15:30:00.000Z',
  'AllDay': False,
  'Text': 'kj',
  'roomId': 1,
  'recurrenceRule': None},
 {'AppointmentId': 2,
  'description': 'desc2',
  'startDate': '2020-05-08T16:00:00.000Z',
  'endDate': '2020-05-08T16:30:00.000Z',
  'AllDay': False,
  'Text': 'sqdfqsdkj',
  'roomId': 2,
  'recurrenceRule': 'FREQ=DAILY;COUNT=100'}]